Source: plasma-desktop
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: baloo-kf5-dev (>= 5.13~),
               breeze-dev,
               cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 1.8.0~),
               kded5-dev (>= 5.12.0~),
               kdoctools-dev (>= 5.12.0~),
               kinit-dev,
               kio-dev,
               kscreenlocker-dev (>= 5.5.1~),
               kwin-dev (>= 4:5.5.1~),
               libappstreamqt-dev,
               libboost-dev,
               libcanberra-dev,
               libfontconfig1-dev,
               libfreetype6-dev,
               libgles2-mesa-dev [arm64 armhf],
               libglib2.0-dev,
               libibus-1.0-dev,
               libkf5activities-dev (>= 5.18.0~),
               libkf5activitiesstats-dev,
               libkf5attica-dev (>= 5.12.0~),
               libkf5auth-dev (>= 5.12.0~),
               libkf5config-dev,
               libkf5coreaddons-dev,
               libkf5dbusaddons-dev (>= 5.12.0~),
               libkf5declarative-dev (>= 5.12.0~),
               libkf5emoticons-dev,
               libkf5globalaccel-dev (>= 5.12.0~),
               libkf5guiaddons-dev,
               libkf5i18n-dev (>= 5.12.0~),
               libkf5itemmodels-dev,
               libkf5kcmutils-dev (>= 5.12.0~),
               libkf5kdelibs4support-dev (>= 5.12.0~),
               libkf5newstuff-dev (>= 5.12.0~),
               libkf5notifications-dev (>= 5.12.0~),
               libkf5notifyconfig-dev (>= 5.12.0~),
               libkf5people-dev (>= 5.12.0~),
               libkf5runner-dev (>= 5.12.0~),
               libkf5sysguard-dev (>= 4:5.5.1~),
               libkf5wallet-dev (>= 5.12.0~),
               libpackagekitqt5-dev,
               libphonon4qt5-dev (>= 4.6.60),
               libphonon4qt5experimental-dev,
               libpulse-dev (>= 0.9.16),
               libqt5svg5-dev (>= 5.4.0~),
               libqt5x11extras5-dev (>= 5.4.0~),
               libudev-dev,
               libusb-dev,
               libx11-dev,
               libxapian-dev,
               libxcb-image0-dev,
               libxcb-keysyms1-dev,
               libxcb-record0-dev,
               libxcb-shm0-dev,
               libxcb-xkb-dev,
               libxcb1-dev,
               libxcursor-dev,
               libxft-dev,
               libxi-dev,
               libxkbfile-dev,
               openbox,
               pkg-kde-tools (>= 0.15.18~),
               plasma-framework-dev (>= 5.12.0~),
               plasma-workspace-dev (>= 4:5.5.1.1~),
               qtbase5-dev (>= 5.4.0~),
               qtdeclarative5-dev (>= 5.4.0~),
               scim-dev,
               xauth,
               xserver-xorg-dev,
               xserver-xorg-input-evdev-dev,
               xserver-xorg-input-synaptics-dev,
               xvfb
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/kde/workspace/plasma-desktop
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/plasma-desktop.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/plasma-desktop.git

Package: lookandfeeltool
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: commandline tool to switch out LNF
 Commandline tool to switch out LNF for Plasma
